extends episode_layout



block content

  .row-fluid
    .span12
      .main-video-container
        - if (typeof(video) !== 'undefined')
          <iframe width="640" height="360" src="#{video}?rel=0" frameborder="0" allowfullscreen></iframe>
        - else
          h1 :-( Sorry, we couldn't find the video link.  Somebody on our team has brought great shame to their name.

  hr

  .row-fluid
    .span8.episode-body
      h1= title

      -if (typeof(date) !== 'undefined')
        - var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        - var month = months[date.getMonth()];
        - var day = date.getDate();
        - var year = date.getFullYear();
        - var dateStamp = day + " " + month + " " + year;

        span.episode-date= dateStamp

      -if (typeof(tags) !== 'undefined')
        .tag-bar
          each tag in tags
            span.label.label-info #{tag}

      br

      h2 Overview
      p= caption

      - if (typeof(notes) !== 'undefined')
        != notes

    .span4
      - if (typeof(resources) !== 'undefined')
        -if (resources.length > 0)
          include ./partials/resources.jade

      - if (typeof(parts) !== 'undefined')
        include ./partials/parts.jade
        
