.row-fluid.marketing
  .span4.thumbnail.episode-thumbnail(ref="/episodes/#{episodes[i].permalink}")
    - if(typeof(episodes[i].image) !== 'undefined')
        img(src="#{episodes[i].image}")
    - else
      img(src="http://placehold.it/1600x900&text=#{episodes[i].title}")

    span.episode-preview-num
        ##{episodes[i].episode_num}
    .caption= episodes[i].caption

  - if((i + 1) < episodes.length)
    .span4.thumbnail.episode-thumbnail(ref="/episodes/#{episodes[i + 1].permalink}")
      - if(typeof(episodes[i + 1].image) !== 'undefined')
        img(src="#{episodes[i + 1].image}")
      - else
        img(src="http://placehold.it/1600x900&text=#{episodes[i + 1].title}")

      span.episode-preview-num
        ##{episodes[i + 1].episode_num}
      .caption= episodes[i + 1].caption

  - if((i + 2) < episodes.length)
    .span4.thumbnail.episode-thumbnail(ref="/episodes/#{episodes[i + 2].permalink}")
      - if(typeof(episodes[i + 2].image) !== 'undefined')
        img(src="#{episodes[i + 2].image}")
      - else
        img(src="http://placehold.it/1600x900&text=#{episodes[i + 2].title}")

      span.episode-preview-num
        ##{episodes[i + 2].episode_num}
      .caption= episodes[i + 2].caption